nav {
  background-color: black;
  color: white;
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 60px;
}

.web_name {
  font-size: 40px;
  padding-left: 10px;
}

.search_bar {
  margin-left: auto;
  padding-right: 10px;
}

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}
